h1 {font-family: AngsanaUPC;color:yellow;font-size: 50pt}
p {background-color: yellowgreen;color: darkcyan;align-items: center;font-size: 25pt}
.newstype{background-color: pink;color: blue;align-items: center;font-size: 20pt;font-style: italic;}

