@(myForm:Form[Department], facultyList:List[Faculty])
@import helper._;

<BR><BR>
<h1> Helper Form แแก้ไขข้อมูลสาขาวิขา </h1>
@if(flash.containsKey("msgError")){
    <div class="alert alert-danger">
        <strong>ผิดพลาด!</strong> @flash.get("msgError").
    </div>
}

@helper.form(action=routes.Application.updateDepartment(), 'class->"from-control"){
    @inputText(myForm("id"), '_label ->"รหัสสาขาวิชา", 'size->"13", 'maxlength->"13", 'required->"requied", 'readonly->"readonly")
    @inputText(myForm("thName"), '_label ->"ชื่อสาขาวิชา(ไทย)", 'size->"40", 'maxlength->"30", 'required->"requied")
    @inputText(myForm("engName"), '_label ->"ชื่อสาขาวิชา(อังกฤษ)", 'size->"40", 'maxlength->"30", 'required->"requied")
    @inputRadioGroup(myForm("level"),options=Seq("ปริญญาตรี"->"ปริญญาตรี", "ปริญญาโท"->"ปริญญาโท", "ปริญญาเอก"->"ปริญญาเอก"),
        '_label->"ระดับการศึกษา")
    @inputText(myForm("year"), '_label ->"จำนวนปีของหลักสูตร", 'size->"5", 'pattern->"[2-4]{1}", 'title->"ระบุตัวเลขได้ตั้งแต่ 2 - 4 เท่านั้น")
    @select(myForm("faculty.id"),
        options=facultyList.map(fac=>fac.getId->fac.getName),
        '_label -> "สังกัดคณะ")

    <input type="submit" value="บันทึก" class="btn btn-success">
    <input type="reset" value="เคลียร์" class="btn btn-danger">
}
