<div class="row">
    <div class="col-sm-2">
        <img src="/assets/images/logo.jpg" style="width:350px;height: 200px;">
    </div>
    <div class="col-sm-8">
        <H1 style="text-align: center;font-size: 75pt;font-weight: bold;">Coffee Bean Shop </H1>
    </div>
    <div class="col-sm-2" style="background-color: darkgreen;">
        <br><br>
        <H4 style="color: white;font-style: italic;alignment: center;font-size: 35pt;">Deep in the life</H4>
        <BR><BR>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            @if(session.get("uid")==null){
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li>
                <form action="/authen" method="post">
                    <input type="text" name="uid" size="15" placeholder="User name">
                    <input type="password" name="upass" size="15" placeholder="Password">
                    <input type="submit" value="Log in!" class="btn btn-success">
                </form>
                @if(flash.containsKey("loginError")) {
                    <b style="color: red"> @flash.get("loginError") </b>
                }
            </li>
            }else{
                <li>Logged by: @session.get("uid") @session.get("uname"),
                    Status: @session.get("ustatus") </li>
                <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            }

        </ul>
    </div>
</nav>

