@(content:Html)
<html>
    <head>
        <title>My page</title>
        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/bootstrap337/css/bootstrap.css">

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" style="background-color: white;color: saddlebrown">
                    @header()
                </div>
            </div>

            <div class="row" style="background-color: gainsboro">
                <hr style="color: darkgreen;size: 12pt;">
                <div class="col-md-2 col-xs-6 col-lg-3" style="background-color: orange">
                    @menu()
                </div>
                <div class="col-md-10 col-xs-6 col-lg-9">
                    @content
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="background-color: green">
                    @footer()
                </div>
            </div>

        </div>
    </body>
</html>