<div class="list-group">
    @if(session.get("ustatus") != null){
        @if(session.get("ustatus") == "Admin") {
            <a href="/" class="list-group-item active">Home</a>
            <a href="/sp" class="list-group-item">Second page</a>
            <a href="/products" class="list-group-item">Our Products</a>
            <a href="/showFlower" class="list-group-item">Flower for you</a>
            <a href="/listPicture" class="list-group-item">List Picture</a>
            <a href="/listDepartment" class="list-group-item">Department Info.</a>
            <a href="#" class="list-group-item">My Products</a>
        }else{
            @if(session.get("ustatus") == "Employee") {
                <a href="/" class="list-group-item active">Home</a>
                <a href="/sp" class="list-group-item">Second page</a>
            }else{
                @if(session.get("ustatus") == "Manager") {
                    <a href="/" class="list-group-item active">Home</a>
                    <a href="/sp" class="list-group-item">Second page</a>
                    <a href="/products" class="list-group-item">Our Products</a>
                    <a href="/showFlower" class="list-group-item">Flower for you</a>

                }else{
                    <a href="#" class="list-group-item">My Profile</a>
                    <a href="#" class="list-group-item">My Orders</a>
                }
            }
        }
    }
    <hr>
    <a href="#" class="list-group-item">Top sale</a>
    <a href="/showProduct" class="list-group-item">All products</a>
</div>


