<div class="row" style="color: blue;">
    <div class="col-sm-4">
        <img src="/assets/images/sp1.jpg" width="200px" height="250px">
        16,900บาท <br>

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-hd3-bluetooth-speaker/
        ลำโพงตั้งโต๊ะขนาดเล็ก การเชื่อมต่อที่ครบครัน เชื่อมต่อไร้สายรองรับ aptX™ ให้เสียงครบทุกย่าน เบสเด่น

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-hd3-bluetooth-speaker/
    </div>
    <div class="col-sm-4">
        <img src="/assets/images/sp2.jpg" width="200px" height="250px">
        15,900บาท <br>

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-a5-computer-speaker/
        ลำโพงคอมที่งานประกอบและวัสดุดี มีความคุ้มค่าสูง สามารถเชื่อมต่อตัวรับสัญญารบลูทูธเพิ่มได้ ให้เสียงที่ทรงพลัง และรายละเอียดที่ดี สามารถต่อตู้เบสห

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-a5-computer-speaker/
    </div>
    <div class="col-sm-4">
        <img src="/assets/images/sp3.jpg" width="200px" height="250px">
        8,990บาท <br>

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-a5-computer-speaker/
        ลำโพงคอมที่งานประกอบและวัสดุดี มีความคุ้มค่าสูง มีภาค DAC ให้ในตัว รองรับถึง 16bit/48kHz   ให้เสียงขนาดเสียงที่ใหญ่เกินตัวไปมาก สามารถต่อตู้เบสห

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-a2-plus-computer-speaker/
    </div>
</div>

<div class="row" style="color: blue;">
    <div class="col-sm-4">
        <img src="/assets/images/sp4.jpg" width="200px" height="250px">
        7,990บาท <br>
        รับสัญญาณได้ไกลถึง 30 เมตร มี DAC ในตัวเป็น 24-Bit Upsampling เชื่อมต่อแบบ Optical ได้ ให้เสียงที่ดีกว่า ให้เสียงที่ดีกว่าตัวรับสัญญาณบลูทูธทั่ว

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-b1-bluetooth-receiver/
    </div>
    <div class="col-sm-4">
        <img src="/assets/images/sp5.jpg" width="200px" height="250px">
        7,490บาท <br>
        Audioengine D1 DAC-Amp โดย Audioengine

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-d1-dac/
        ด้านนอกทำจากพลาสติกและอลูมิเนียม ดูเรียบหรู รองรับการถอดรหัสถึง 192KHz/24 Bits สามารถเชื่อมต่อแบบ Optical เพื่อเสียงที่ดีกว่า ใช้ไฟผ่านสาย USB ไ

        อ่านต่อได้ที่: https://www.mercular.com/audioengine-d1-dac/
    </div>
    <div class="col-sm-4">
        <img src="/assets/images/sp6.jpg" width="200px" height="250px">
        5,990บาท <br>
        ตัวรับสัญญาณบลูทูธ Audioengine W3R โดย Audioengine
        อ่านต่อได้ที่: https://www.mercular.com/audioengine-w3r-bluetooth-receiver/
    </div>
</div>
