<html>
    <head>
        <title>Sawadee my web </title>
    </head>
    <body bgcolor="#00bfff" text="black" >
        <h1 style="color: blueviolet">Welcome to my dynamic web page </h1>
        <h2>By. Mr.Phichayaphak Phiphitphatphaisit </h2>
        A server-side dynamic web page is a web page whose construction is controlled by an application server <br>
        processing server-side scripts. In server-side scripting, <br>
        parameters determine how the assembly of every new web page proceeds, <br>
        including the setting up of more client-side processing. <br>
        <br><br>
        <a href="/">Home</a><br>
        <img src="/assets/images/myWeb.png" width="400" height="300">
    </body>
</html>