@(f1:Flower, f2:Flower)


<div class="panel panel-success">
    <div class="panel-heading">
        <h2>  My flower @f1.getName()</h2>
    </div>
    <div class="panel-body">
        Id: @f1.getId() <br>
        Name: @f1.getName() <br>
        Price: @f1.getPrice() <br>
        Amount: @f1.getAmount() <br>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2> My flower @f2.getName() </h2>
    </div>
    <div class="panel-body">
        Id: @f2.getId() <br>
        Name: @f2.getName() <br>
        Price: @f2.getPrice() <br>
        Amount: @f2.getAmount() <br>
    </div>
</div>

<div class="panel panel-default">
<div class="panel-body">Panel Content</div>
<div class="panel-footer">Panel Footer</div>
</div>

    <button class="btn btn-success">test </button>
<button class="btn btn-danger">cancel </button>
